.footer{
    padding-bottom: 20px;
     .footer_wrapper{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .fooetr_left{
              img{
                  width: 100px;
              }
              h5{
                font-size: 15px;
                color: $text;
                font-weight: 400;
                font-family: $robot; 
                padding-top: 10px;
              }
          }
          .fooetr_right{
            img{
                width: 100px;
            }
            h4{
                font-size: 16px;
                color: $black;
                font-weight: 500;
                font-family: $robot;
                line-height: 28px; 
                padding-top: 10px;
            }
            h5{
                font-size: 15px;
                color: $text;
                font-weight: 400;
                font-family: $robot;
            }
        }
     }
}