.subPage2Sec-1{
    padding: 30px 0;
    .section_header{
        padding: 20px 0 5px 0;
        a{
            display: inline-block;
            font-size: 24px;
            color: $black;
            font-weight: 600;
            line-height: 30px;
            &:hover{
                color: $primaryColor;
            }
            span{
                padding-left: 2px;
                i{
                    font-size: 20px;
                    color: red;
                }
            }

        }
    }

    .section4_body{
        .sec2_inner{
            border: 1px solid #cfcfcf;
            padding: 10px 10px 5px 10px;
            width: 100%;
            background-color: $bg;
            margin-top: 24px;
            .img_wrapper{
                display: flex;
                justify-content: center;
                height: 220px;
                overflow: hidden;
            img{
                max-height: 100%;
                max-width: 100%;
                border-radius: 5px;
                &:hover{
                    transform: scale(1.2);
                    transition: all linear .5s;
                }
            }
         }
         h4{
             font-size: 19px;
             color: $primaryColor;
             font-weight: 400;
             padding-top: 10px;
             line-height: 29px;
             &:hover{
                 color: $black;
             }
         }
        }
        .latestNews{
            border-bottom: 1px solid #cfcfcf;
            padding-top: 15px;
            h5{
                font-size: 18px;
                color: $text;
                font-weight: 400;
                line-height: 29px;
                padding: 5px 0;
                &:hover{
                    color: $black;
                }

            }
        }
    }

}