.department{
    padding: 100px 0;
      .section_header{
            h4{
                font-family: $worksans;
                font-size: 40px;
                font-weight: 700;
                color: $black;
            }
            p{
                font-family: $worksans;
                font-size: 16px;
                font-weight: 400;
                color: $text;
                padding: 25px 380px;
                line-height: 24px; 
            }
      }
      .departmet_wrapper{
             .department_item{
                 background-color: #f9703a;
                 padding: 18px 0 60px 0;
                 border-radius: 7px;
                   .departmentImg{
                       img{
                           width: 100%;
                       }
                   }
                   .department_text{
                       h4{
                        font-family: $worksans;
                        font-size: 30px;
                        font-weight: 600;
                        color: $white;
                        line-height: 28px;  
                       }
                   }
             }
      }
}