.mob_header{
    padding: 5px 0;
    background-color:white;
    z-index: 8;
    box-shadow: 1px 1.732px 20px 0px rgba(0,0,0,0.3);     
    .mobNAv_btn{
      text-align: end;
      a{
        i{
          padding: 5px 20px;
          font-size: 30px;
          color: $black;
        }
      }
    }
}
.mobNewHeader{
    position: fixed;
    top: 40px;
    width: 100%;
}
.navbar_toggoler{
    .offcanvas {
      z-index: 999999;
        .offcanvas-header{
            img{
                width: 80px; 
            }
        }
        .offcanvas-body{ 
            background-color: $white;  
            .nav_list{
              ul{
                padding: 0 10px;
                li{
                    padding:12px 0;
                    cursor: pointer;
                    border-bottom: 1px dashed gray;
                    &:hover a{
                       width: 100%;
                    }
        
                    a{
                        font-size: 19px;
                        font-weight: 500;
                        color: black;
                        &:hover{
                            color: $primaryColor;
                        }
                    }
                }
                .nav_list2{
                  .dropdown {
                      margin: 1em auto;
                      width: 100%;
                      border: .1em solid #c0cdd1;
                    }
                    a {
                      display: block;
                      padding: 5px 10px;
                      color: #000;
                      font-size: 16px; 
                      font-weight: 400;
                      &:focus,
                      &:hover {background: #ecf0f1;}
                      &:active {background: #fbfcfc;}
                      span{
                       padding-right: 10px;
                      }
                    }
                    .fa {float: right}
                    ul {
                      display: none;
                      border-top: .1em solid #c0cdd1;
                    }
                    li {
                      padding: 5px 10px;
                      cursor: pointer; 
                      &:not(:first-child){
                        border-top: .1em dashed #dde4e6;
                      }
                      &:focus,
                      &:hover {background: #ecf0f1;}
                      &:active {background: #fbfcfc;}
                    }      
              }
            }
            }
           
        }
    }
}